nav {
    display: flex;
    background-color: rgb(9, 8, 8);
    height: 40px;
    justify-content:space-between;
    align-items: center;
}

nav > a {
    padding: 10px;
    color: aquamarine;
    text-decoration: none;
    margin-right: 15px;
}

nav > h3 {
    color: aquamarine;
    margin-left: 15px;
}