.form_container {
    text-align: center;
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}
  
.register_forms, form {
    display: flex;
    flex-direction: column;
}
  
.register_forms {
    padding: 5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0.5rem;
}
  
label {
    text-align: left;
    padding: 0.25rem 0;
}
  
input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
  
button {
    border: none;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #554a4a;
}
  
.toggle-btn {
    background: none;
    color: brown;
    text-decoration: underline;
}

#error {
    color: darkgoldenrod;
}